Trunk/Src/Fusioness.Mobile/Fusioness.Mobile/Service References/FusionessWS/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirBicicleta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bicicleta" type="tns:Bicicleta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Bicicleta">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdBicicleta" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Modelo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Marca" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityBase" />
      <s:complexType name="Resposta">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdResposta" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ConviteEventos" type="tns:ArrayOfConviteEvento" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfConviteEvento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConviteEvento" nillable="true" type="tns:ConviteEvento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConviteEvento">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdContato" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdEvento" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdResposta" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Contato" type="tns:Contato" />
              <s:element minOccurs="0" maxOccurs="1" name="Evento" type="tns:Evento" />
              <s:element minOccurs="0" maxOccurs="1" name="Resposta" type="tns:Resposta" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Contato">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdContato" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
              <s:element minOccurs="0" maxOccurs="1" name="Usuario1" type="tns:Usuario" />
              <s:element minOccurs="0" maxOccurs="1" name="ConviteEventos" type="tns:ArrayOfConviteEvento" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DataDeNascimento" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UrlImagem" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Bicicletas" type="tns:ArrayOfBicicleta" />
              <s:element minOccurs="0" maxOccurs="1" name="Contatos" type="tns:ArrayOfContato" />
              <s:element minOccurs="0" maxOccurs="1" name="Contatos1" type="tns:ArrayOfContato" />
              <s:element minOccurs="0" maxOccurs="1" name="Eventos" type="tns:ArrayOfEvento" />
              <s:element minOccurs="0" maxOccurs="1" name="EventoUsuarios" type="tns:ArrayOfEventoUsuario" />
              <s:element minOccurs="0" maxOccurs="1" name="Rotas" type="tns:ArrayOfRota" />
              <s:element minOccurs="0" maxOccurs="1" name="ComentariosEventos" type="tns:ArrayOfComentarioEvento" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfBicicleta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Bicicleta" nillable="true" type="tns:Bicicleta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contato" nillable="true" type="tns:Contato" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEvento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Evento" nillable="true" type="tns:Evento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Evento">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdEvento" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdRota" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="UrlImagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Publico" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="ConviteEventos" type="tns:ArrayOfConviteEvento" />
              <s:element minOccurs="0" maxOccurs="1" name="Rota" type="tns:Rota" />
              <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
              <s:element minOccurs="0" maxOccurs="1" name="EventoUsuarios" type="tns:ArrayOfEventoUsuario" />
              <s:element minOccurs="0" maxOccurs="1" name="ComentariosEvento" type="tns:ArrayOfComentarioEvento" />
              <s:element minOccurs="1" maxOccurs="1" name="Distancia" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Rota">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdRota" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoPista" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoRota" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdDificuldade" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdQualidadeRota" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Coordenadas" type="tns:ArrayOfCoordenada" />
              <s:element minOccurs="0" maxOccurs="1" name="Dificuldade" type="tns:Dificuldade" />
              <s:element minOccurs="0" maxOccurs="1" name="Eventos" type="tns:ArrayOfEvento" />
              <s:element minOccurs="0" maxOccurs="1" name="QualidadeRota" type="tns:QualidadeRota" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoPista" type="tns:TipoPista" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoRota" type="tns:TipoRota" />
              <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfCoordenada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Coordenada" nillable="true" type="tns:Coordenada" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Coordenada">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdCoordenada" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdRota" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoCoordenada" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Data" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Rota" type="tns:Rota" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoCoordenada" type="tns:TipoCoordenada" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TipoCoordenada">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoCoordenada" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Coordenadas" type="tns:ArrayOfCoordenada" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Dificuldade">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdDificuldade" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rotas" type="tns:ArrayOfRota" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfRota">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Rota" nillable="true" type="tns:Rota" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QualidadeRota">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdQualidadeRota" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rotas" type="tns:ArrayOfRota" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TipoPista">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoPista" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rotas" type="tns:ArrayOfRota" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TipoRota">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoRota" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rotas" type="tns:ArrayOfRota" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfEventoUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EventoUsuario" nillable="true" type="tns:EventoUsuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EventoUsuario">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdEvento" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Evento" type="tns:Evento" />
              <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfComentarioEvento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ComentarioEvento" nillable="true" type="tns:ComentarioEvento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ComentarioEvento">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdComentarioEvento" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdEvento" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Evento" type="tns:Evento" />
              <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="InserirBicicletaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirBicicletaResult" type="tns:Bicicleta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarBicicleta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bicicleta" type="tns:Bicicleta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarBicicletaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarBicicletaResult" type="tns:Bicicleta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverBicicleta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bicicleta" type="tns:Bicicleta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverBicicletaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ObterBicicletaPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bicicleta" type="tns:Bicicleta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterBicicletaPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterBicicletaPorIdResult" type="tns:Bicicleta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarBicicletasPorUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarBicicletasPorUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarBicicletasPorUsuarioResult" type="tns:ArrayOfBicicleta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarLogonUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarLogonUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidarLogonUsuarioResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirUsuarioResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarUsuarioResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirFotoUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirFotoUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirFotoUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterUsuariosIds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idsUsuario" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObterUsuariosIdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterUsuariosIdsResult" type="tns:ArrayOfUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="ListarUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarUsuariosResult" type="tns:ArrayOfUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarUsuariosPorNome">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarUsuariosPorNomeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarUsuariosPorNomeResult" type="tns:ArrayOfUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirRota">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rota" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirRotaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirRotaResult" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarRota">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rota" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarRotaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarRotaResult" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverRota">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rota" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverRotaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ObterRotaPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rota" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterRotaPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterRotaPorIdResult" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarRotas">
        <s:complexType />
      </s:element>
      <s:element name="ListarRotasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarRotasResult" type="tns:ArrayOfRota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarRotasPorUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarRotasPorUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarRotasPorUsuarioResult" type="tns:ArrayOfRota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirComentarioEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="comentario" type="tns:ComentarioEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirComentarioEventoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirComentarioEventoResult" type="tns:ComentarioEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarComentarioEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="comentario" type="tns:ComentarioEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarComentarioEventoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarComentarioEventoResult" type="tns:ComentarioEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverComentarioEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="comentario" type="tns:ComentarioEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverComentarioEventoResponse">
        <s:complexType />
      </s:element>
      <s:element name="ObterComentarioEventoPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="comentario" type="tns:ComentarioEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterComentarioEventoPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterComentarioEventoPorIdResult" type="tns:ComentarioEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarComentariosPorEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="evento" type="tns:Evento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarComentariosPorEventoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarComentariosPorEventoResult" type="tns:ArrayOfComentarioEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarComentariosPorUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarComentariosPorUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarComentariosPorUsuarioResult" type="tns:ArrayOfComentarioEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarTiposRota">
        <s:complexType />
      </s:element>
      <s:element name="ListarTiposRotaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarTiposRotaResult" type="tns:ArrayOfTipoRota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoRota">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoRota" nillable="true" type="tns:TipoRota" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarTiposPista">
        <s:complexType />
      </s:element>
      <s:element name="ListarTiposPistaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarTiposPistaResult" type="tns:ArrayOfTipoPista" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoPista">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoPista" nillable="true" type="tns:TipoPista" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarDificuldades">
        <s:complexType />
      </s:element>
      <s:element name="ListarDificuldadesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarDificuldadesResult" type="tns:ArrayOfDificuldade" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDificuldade">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Dificuldade" nillable="true" type="tns:Dificuldade" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarQualidadesRota">
        <s:complexType />
      </s:element>
      <s:element name="ListarQualidadesRotaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarQualidadesRotaResult" type="tns:ArrayOfQualidadeRota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfQualidadeRota">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QualidadeRota" nillable="true" type="tns:QualidadeRota" />
        </s:sequence>
      </s:complexType>
      <s:element name="InserirEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="evento" type="tns:Evento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirEventoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirEventoResult" type="tns:Evento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarEventos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ids" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarEventosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarEventosResult" type="tns:ArrayOfEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarEventosPorUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarEventosPorUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarEventosPorUsuarioResult" type="tns:ArrayOfEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="evento" type="tns:Evento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarEventoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarEventoResult" type="tns:Evento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="evento" type="tns:Evento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverEventoResponse">
        <s:complexType />
      </s:element>
      <s:element name="ObterEventoPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="evento" type="tns:Evento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterEventoPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterEventoPorIdResult" type="tns:Evento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarEventosComDistancia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="latitudeAtual" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitudeAtual" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarEventosComDistanciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarEventosComDistanciaResult" type="tns:ArrayOfEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirListaCoordenadas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaCoordenadas" type="tns:ArrayOfCoordenada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirListaCoordenadasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirListaCoordenadasResult" type="tns:ArrayOfCoordenada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarCoordenadasPorRota">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rota" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarCoordenadasPorRotaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarCoordenadasPorRotaResult" type="tns:ArrayOfCoordenada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarConvitesEventos">
        <s:complexType />
      </s:element>
      <s:element name="ListarConvitesEventosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarConvitesEventosResult" type="tns:ArrayOfConviteEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterConvitesEventosDoUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterConvitesEventosDoUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterConvitesEventosDoUsuarioResult" type="tns:ArrayOfConviteEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResponderConviteEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convite" type="tns:ConviteEvento" />
            <s:element minOccurs="0" maxOccurs="1" name="resposta" type="tns:Resposta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResponderConviteEventoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResponderConviteEventoResult" type="tns:ConviteEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvidarUsuarios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
            <s:element minOccurs="0" maxOccurs="1" name="evento" type="tns:Evento" />
            <s:element minOccurs="0" maxOccurs="1" name="idsAmigos" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvidarUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvidarUsuariosResult" type="tns:ArrayOfConviteEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarRespostas">
        <s:complexType />
      </s:element>
      <s:element name="ListarRespostasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarRespostasResult" type="tns:ArrayOfResposta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfResposta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Resposta" nillable="true" type="tns:Resposta" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarContatosDoUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarContatosDoUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarContatosDoUsuarioResult" type="tns:ArrayOfContato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarContatos">
        <s:complexType />
      </s:element>
      <s:element name="ListarContatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarContatosResult" type="tns:ArrayOfContato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirContato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contato" type="tns:Contato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirContatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirContatoResult" type="tns:Contato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarContato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contato" type="tns:Contato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarContatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarContatoResult" type="tns:Contato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirContato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contato" type="tns:Contato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirContatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExcluirContatoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarConvitesDoUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarConvitesDoUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarConvitesDoUsuarioResult" type="tns:ArrayOfContato" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="InserirBicicletaSoapIn">
    <wsdl:part name="parameters" element="tns:InserirBicicleta" />
  </wsdl:message>
  <wsdl:message name="InserirBicicletaSoapOut">
    <wsdl:part name="parameters" element="tns:InserirBicicletaResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarBicicletaSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarBicicleta" />
  </wsdl:message>
  <wsdl:message name="AlterarBicicletaSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarBicicletaResponse" />
  </wsdl:message>
  <wsdl:message name="RemoverBicicletaSoapIn">
    <wsdl:part name="parameters" element="tns:RemoverBicicleta" />
  </wsdl:message>
  <wsdl:message name="RemoverBicicletaSoapOut">
    <wsdl:part name="parameters" element="tns:RemoverBicicletaResponse" />
  </wsdl:message>
  <wsdl:message name="ObterBicicletaPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:ObterBicicletaPorId" />
  </wsdl:message>
  <wsdl:message name="ObterBicicletaPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:ObterBicicletaPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="ListarBicicletasPorUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ListarBicicletasPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ListarBicicletasPorUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ListarBicicletasPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarLogonUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarLogonUsuario" />
  </wsdl:message>
  <wsdl:message name="ValidarLogonUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarLogonUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="InserirUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:InserirUsuario" />
  </wsdl:message>
  <wsdl:message name="InserirUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:InserirUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarUsuario" />
  </wsdl:message>
  <wsdl:message name="AlterarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="InserirFotoUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:InserirFotoUsuario" />
  </wsdl:message>
  <wsdl:message name="InserirFotoUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:InserirFotoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ObterUsuariosIdsSoapIn">
    <wsdl:part name="parameters" element="tns:ObterUsuariosIds" />
  </wsdl:message>
  <wsdl:message name="ObterUsuariosIdsSoapOut">
    <wsdl:part name="parameters" element="tns:ObterUsuariosIdsResponse" />
  </wsdl:message>
  <wsdl:message name="ListarUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarUsuarios" />
  </wsdl:message>
  <wsdl:message name="ListarUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ListarUsuariosPorNomeSoapIn">
    <wsdl:part name="parameters" element="tns:ListarUsuariosPorNome" />
  </wsdl:message>
  <wsdl:message name="ListarUsuariosPorNomeSoapOut">
    <wsdl:part name="parameters" element="tns:ListarUsuariosPorNomeResponse" />
  </wsdl:message>
  <wsdl:message name="InserirRotaSoapIn">
    <wsdl:part name="parameters" element="tns:InserirRota" />
  </wsdl:message>
  <wsdl:message name="InserirRotaSoapOut">
    <wsdl:part name="parameters" element="tns:InserirRotaResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarRotaSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarRota" />
  </wsdl:message>
  <wsdl:message name="AlterarRotaSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarRotaResponse" />
  </wsdl:message>
  <wsdl:message name="RemoverRotaSoapIn">
    <wsdl:part name="parameters" element="tns:RemoverRota" />
  </wsdl:message>
  <wsdl:message name="RemoverRotaSoapOut">
    <wsdl:part name="parameters" element="tns:RemoverRotaResponse" />
  </wsdl:message>
  <wsdl:message name="ObterRotaPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:ObterRotaPorId" />
  </wsdl:message>
  <wsdl:message name="ObterRotaPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:ObterRotaPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="ListarRotasSoapIn">
    <wsdl:part name="parameters" element="tns:ListarRotas" />
  </wsdl:message>
  <wsdl:message name="ListarRotasSoapOut">
    <wsdl:part name="parameters" element="tns:ListarRotasResponse" />
  </wsdl:message>
  <wsdl:message name="ListarRotasPorUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ListarRotasPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ListarRotasPorUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ListarRotasPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="InserirComentarioEventoSoapIn">
    <wsdl:part name="parameters" element="tns:InserirComentarioEvento" />
  </wsdl:message>
  <wsdl:message name="InserirComentarioEventoSoapOut">
    <wsdl:part name="parameters" element="tns:InserirComentarioEventoResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarComentarioEventoSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarComentarioEvento" />
  </wsdl:message>
  <wsdl:message name="AlterarComentarioEventoSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarComentarioEventoResponse" />
  </wsdl:message>
  <wsdl:message name="RemoverComentarioEventoSoapIn">
    <wsdl:part name="parameters" element="tns:RemoverComentarioEvento" />
  </wsdl:message>
  <wsdl:message name="RemoverComentarioEventoSoapOut">
    <wsdl:part name="parameters" element="tns:RemoverComentarioEventoResponse" />
  </wsdl:message>
  <wsdl:message name="ObterComentarioEventoPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:ObterComentarioEventoPorId" />
  </wsdl:message>
  <wsdl:message name="ObterComentarioEventoPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:ObterComentarioEventoPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="ListarComentariosPorEventoSoapIn">
    <wsdl:part name="parameters" element="tns:ListarComentariosPorEvento" />
  </wsdl:message>
  <wsdl:message name="ListarComentariosPorEventoSoapOut">
    <wsdl:part name="parameters" element="tns:ListarComentariosPorEventoResponse" />
  </wsdl:message>
  <wsdl:message name="ListarComentariosPorUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ListarComentariosPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ListarComentariosPorUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ListarComentariosPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ListarTiposRotaSoapIn">
    <wsdl:part name="parameters" element="tns:ListarTiposRota" />
  </wsdl:message>
  <wsdl:message name="ListarTiposRotaSoapOut">
    <wsdl:part name="parameters" element="tns:ListarTiposRotaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarTiposPistaSoapIn">
    <wsdl:part name="parameters" element="tns:ListarTiposPista" />
  </wsdl:message>
  <wsdl:message name="ListarTiposPistaSoapOut">
    <wsdl:part name="parameters" element="tns:ListarTiposPistaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarDificuldadesSoapIn">
    <wsdl:part name="parameters" element="tns:ListarDificuldades" />
  </wsdl:message>
  <wsdl:message name="ListarDificuldadesSoapOut">
    <wsdl:part name="parameters" element="tns:ListarDificuldadesResponse" />
  </wsdl:message>
  <wsdl:message name="ListarQualidadesRotaSoapIn">
    <wsdl:part name="parameters" element="tns:ListarQualidadesRota" />
  </wsdl:message>
  <wsdl:message name="ListarQualidadesRotaSoapOut">
    <wsdl:part name="parameters" element="tns:ListarQualidadesRotaResponse" />
  </wsdl:message>
  <wsdl:message name="InserirEventoSoapIn">
    <wsdl:part name="parameters" element="tns:InserirEvento" />
  </wsdl:message>
  <wsdl:message name="InserirEventoSoapOut">
    <wsdl:part name="parameters" element="tns:InserirEventoResponse" />
  </wsdl:message>
  <wsdl:message name="ListarEventosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarEventos" />
  </wsdl:message>
  <wsdl:message name="ListarEventosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarEventosResponse" />
  </wsdl:message>
  <wsdl:message name="ListarEventosPorUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ListarEventosPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ListarEventosPorUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ListarEventosPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarEventoSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarEvento" />
  </wsdl:message>
  <wsdl:message name="AlterarEventoSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarEventoResponse" />
  </wsdl:message>
  <wsdl:message name="RemoverEventoSoapIn">
    <wsdl:part name="parameters" element="tns:RemoverEvento" />
  </wsdl:message>
  <wsdl:message name="RemoverEventoSoapOut">
    <wsdl:part name="parameters" element="tns:RemoverEventoResponse" />
  </wsdl:message>
  <wsdl:message name="ObterEventoPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:ObterEventoPorId" />
  </wsdl:message>
  <wsdl:message name="ObterEventoPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:ObterEventoPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="ListarEventosComDistanciaSoapIn">
    <wsdl:part name="parameters" element="tns:ListarEventosComDistancia" />
  </wsdl:message>
  <wsdl:message name="ListarEventosComDistanciaSoapOut">
    <wsdl:part name="parameters" element="tns:ListarEventosComDistanciaResponse" />
  </wsdl:message>
  <wsdl:message name="InserirListaCoordenadasSoapIn">
    <wsdl:part name="parameters" element="tns:InserirListaCoordenadas" />
  </wsdl:message>
  <wsdl:message name="InserirListaCoordenadasSoapOut">
    <wsdl:part name="parameters" element="tns:InserirListaCoordenadasResponse" />
  </wsdl:message>
  <wsdl:message name="ListarCoordenadasPorRotaSoapIn">
    <wsdl:part name="parameters" element="tns:ListarCoordenadasPorRota" />
  </wsdl:message>
  <wsdl:message name="ListarCoordenadasPorRotaSoapOut">
    <wsdl:part name="parameters" element="tns:ListarCoordenadasPorRotaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarConvitesEventosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarConvitesEventos" />
  </wsdl:message>
  <wsdl:message name="ListarConvitesEventosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarConvitesEventosResponse" />
  </wsdl:message>
  <wsdl:message name="ObterConvitesEventosDoUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ObterConvitesEventosDoUsuario" />
  </wsdl:message>
  <wsdl:message name="ObterConvitesEventosDoUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ObterConvitesEventosDoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ResponderConviteEventoSoapIn">
    <wsdl:part name="parameters" element="tns:ResponderConviteEvento" />
  </wsdl:message>
  <wsdl:message name="ResponderConviteEventoSoapOut">
    <wsdl:part name="parameters" element="tns:ResponderConviteEventoResponse" />
  </wsdl:message>
  <wsdl:message name="ConvidarUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:ConvidarUsuarios" />
  </wsdl:message>
  <wsdl:message name="ConvidarUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:ConvidarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ListarRespostasSoapIn">
    <wsdl:part name="parameters" element="tns:ListarRespostas" />
  </wsdl:message>
  <wsdl:message name="ListarRespostasSoapOut">
    <wsdl:part name="parameters" element="tns:ListarRespostasResponse" />
  </wsdl:message>
  <wsdl:message name="ListarContatosDoUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ListarContatosDoUsuario" />
  </wsdl:message>
  <wsdl:message name="ListarContatosDoUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ListarContatosDoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ListarContatosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarContatos" />
  </wsdl:message>
  <wsdl:message name="ListarContatosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarContatosResponse" />
  </wsdl:message>
  <wsdl:message name="InserirContatoSoapIn">
    <wsdl:part name="parameters" element="tns:InserirContato" />
  </wsdl:message>
  <wsdl:message name="InserirContatoSoapOut">
    <wsdl:part name="parameters" element="tns:InserirContatoResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarContatoSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarContato" />
  </wsdl:message>
  <wsdl:message name="AlterarContatoSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarContatoResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirContatoSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirContato" />
  </wsdl:message>
  <wsdl:message name="ExcluirContatoSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirContatoResponse" />
  </wsdl:message>
  <wsdl:message name="ListarConvitesDoUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ListarConvitesDoUsuario" />
  </wsdl:message>
  <wsdl:message name="ListarConvitesDoUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ListarConvitesDoUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="MainServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirBicicleta">
      <wsdl:input message="tns:InserirBicicletaSoapIn" />
      <wsdl:output message="tns:InserirBicicletaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarBicicleta">
      <wsdl:input message="tns:AlterarBicicletaSoapIn" />
      <wsdl:output message="tns:AlterarBicicletaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoverBicicleta">
      <wsdl:input message="tns:RemoverBicicletaSoapIn" />
      <wsdl:output message="tns:RemoverBicicletaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterBicicletaPorId">
      <wsdl:input message="tns:ObterBicicletaPorIdSoapIn" />
      <wsdl:output message="tns:ObterBicicletaPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarBicicletasPorUsuario">
      <wsdl:input message="tns:ListarBicicletasPorUsuarioSoapIn" />
      <wsdl:output message="tns:ListarBicicletasPorUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarLogonUsuario">
      <wsdl:input message="tns:ValidarLogonUsuarioSoapIn" />
      <wsdl:output message="tns:ValidarLogonUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirUsuario">
      <wsdl:input message="tns:InserirUsuarioSoapIn" />
      <wsdl:output message="tns:InserirUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <wsdl:input message="tns:AlterarUsuarioSoapIn" />
      <wsdl:output message="tns:AlterarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirFotoUsuario">
      <wsdl:input message="tns:InserirFotoUsuarioSoapIn" />
      <wsdl:output message="tns:InserirFotoUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterUsuariosIds">
      <wsdl:input message="tns:ObterUsuariosIdsSoapIn" />
      <wsdl:output message="tns:ObterUsuariosIdsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <wsdl:input message="tns:ListarUsuariosSoapIn" />
      <wsdl:output message="tns:ListarUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuariosPorNome">
      <wsdl:input message="tns:ListarUsuariosPorNomeSoapIn" />
      <wsdl:output message="tns:ListarUsuariosPorNomeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirRota">
      <wsdl:input message="tns:InserirRotaSoapIn" />
      <wsdl:output message="tns:InserirRotaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarRota">
      <wsdl:input message="tns:AlterarRotaSoapIn" />
      <wsdl:output message="tns:AlterarRotaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoverRota">
      <wsdl:input message="tns:RemoverRotaSoapIn" />
      <wsdl:output message="tns:RemoverRotaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterRotaPorId">
      <wsdl:input message="tns:ObterRotaPorIdSoapIn" />
      <wsdl:output message="tns:ObterRotaPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarRotas">
      <wsdl:input message="tns:ListarRotasSoapIn" />
      <wsdl:output message="tns:ListarRotasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarRotasPorUsuario">
      <wsdl:input message="tns:ListarRotasPorUsuarioSoapIn" />
      <wsdl:output message="tns:ListarRotasPorUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirComentarioEvento">
      <wsdl:input message="tns:InserirComentarioEventoSoapIn" />
      <wsdl:output message="tns:InserirComentarioEventoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarComentarioEvento">
      <wsdl:input message="tns:AlterarComentarioEventoSoapIn" />
      <wsdl:output message="tns:AlterarComentarioEventoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoverComentarioEvento">
      <wsdl:input message="tns:RemoverComentarioEventoSoapIn" />
      <wsdl:output message="tns:RemoverComentarioEventoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterComentarioEventoPorId">
      <wsdl:input message="tns:ObterComentarioEventoPorIdSoapIn" />
      <wsdl:output message="tns:ObterComentarioEventoPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarComentariosPorEvento">
      <wsdl:input message="tns:ListarComentariosPorEventoSoapIn" />
      <wsdl:output message="tns:ListarComentariosPorEventoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarComentariosPorUsuario">
      <wsdl:input message="tns:ListarComentariosPorUsuarioSoapIn" />
      <wsdl:output message="tns:ListarComentariosPorUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarTiposRota">
      <wsdl:input message="tns:ListarTiposRotaSoapIn" />
      <wsdl:output message="tns:ListarTiposRotaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarTiposPista">
      <wsdl:input message="tns:ListarTiposPistaSoapIn" />
      <wsdl:output message="tns:ListarTiposPistaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarDificuldades">
      <wsdl:input message="tns:ListarDificuldadesSoapIn" />
      <wsdl:output message="tns:ListarDificuldadesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarQualidadesRota">
      <wsdl:input message="tns:ListarQualidadesRotaSoapIn" />
      <wsdl:output message="tns:ListarQualidadesRotaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirEvento">
      <wsdl:input message="tns:InserirEventoSoapIn" />
      <wsdl:output message="tns:InserirEventoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarEventos">
      <wsdl:input message="tns:ListarEventosSoapIn" />
      <wsdl:output message="tns:ListarEventosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarEventosPorUsuario">
      <wsdl:input message="tns:ListarEventosPorUsuarioSoapIn" />
      <wsdl:output message="tns:ListarEventosPorUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarEvento">
      <wsdl:input message="tns:AlterarEventoSoapIn" />
      <wsdl:output message="tns:AlterarEventoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoverEvento">
      <wsdl:input message="tns:RemoverEventoSoapIn" />
      <wsdl:output message="tns:RemoverEventoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterEventoPorId">
      <wsdl:input message="tns:ObterEventoPorIdSoapIn" />
      <wsdl:output message="tns:ObterEventoPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarEventosComDistancia">
      <wsdl:input message="tns:ListarEventosComDistanciaSoapIn" />
      <wsdl:output message="tns:ListarEventosComDistanciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirListaCoordenadas">
      <wsdl:input message="tns:InserirListaCoordenadasSoapIn" />
      <wsdl:output message="tns:InserirListaCoordenadasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarCoordenadasPorRota">
      <wsdl:input message="tns:ListarCoordenadasPorRotaSoapIn" />
      <wsdl:output message="tns:ListarCoordenadasPorRotaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarConvitesEventos">
      <wsdl:input message="tns:ListarConvitesEventosSoapIn" />
      <wsdl:output message="tns:ListarConvitesEventosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterConvitesEventosDoUsuario">
      <wsdl:input message="tns:ObterConvitesEventosDoUsuarioSoapIn" />
      <wsdl:output message="tns:ObterConvitesEventosDoUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResponderConviteEvento">
      <wsdl:input message="tns:ResponderConviteEventoSoapIn" />
      <wsdl:output message="tns:ResponderConviteEventoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvidarUsuarios">
      <wsdl:input message="tns:ConvidarUsuariosSoapIn" />
      <wsdl:output message="tns:ConvidarUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarRespostas">
      <wsdl:input message="tns:ListarRespostasSoapIn" />
      <wsdl:output message="tns:ListarRespostasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarContatosDoUsuario">
      <wsdl:input message="tns:ListarContatosDoUsuarioSoapIn" />
      <wsdl:output message="tns:ListarContatosDoUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarContatos">
      <wsdl:input message="tns:ListarContatosSoapIn" />
      <wsdl:output message="tns:ListarContatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirContato">
      <wsdl:input message="tns:InserirContatoSoapIn" />
      <wsdl:output message="tns:InserirContatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarContato">
      <wsdl:input message="tns:AlterarContatoSoapIn" />
      <wsdl:output message="tns:AlterarContatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirContato">
      <wsdl:input message="tns:ExcluirContatoSoapIn" />
      <wsdl:output message="tns:ExcluirContatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarConvitesDoUsuario">
      <wsdl:input message="tns:ListarConvitesDoUsuarioSoapIn" />
      <wsdl:output message="tns:ListarConvitesDoUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainServiceSoap" type="tns:MainServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirBicicleta">
      <soap:operation soapAction="http://tempuri.org/InserirBicicleta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarBicicleta">
      <soap:operation soapAction="http://tempuri.org/AlterarBicicleta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverBicicleta">
      <soap:operation soapAction="http://tempuri.org/RemoverBicicleta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterBicicletaPorId">
      <soap:operation soapAction="http://tempuri.org/ObterBicicletaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarBicicletasPorUsuario">
      <soap:operation soapAction="http://tempuri.org/ListarBicicletasPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarLogonUsuario">
      <soap:operation soapAction="http://tempuri.org/ValidarLogonUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirUsuario">
      <soap:operation soapAction="http://tempuri.org/InserirUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap:operation soapAction="http://tempuri.org/AlterarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirFotoUsuario">
      <soap:operation soapAction="http://tempuri.org/InserirFotoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterUsuariosIds">
      <soap:operation soapAction="http://tempuri.org/ObterUsuariosIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <soap:operation soapAction="http://tempuri.org/ListarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuariosPorNome">
      <soap:operation soapAction="http://tempuri.org/ListarUsuariosPorNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirRota">
      <soap:operation soapAction="http://tempuri.org/InserirRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarRota">
      <soap:operation soapAction="http://tempuri.org/AlterarRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverRota">
      <soap:operation soapAction="http://tempuri.org/RemoverRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterRotaPorId">
      <soap:operation soapAction="http://tempuri.org/ObterRotaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRotas">
      <soap:operation soapAction="http://tempuri.org/ListarRotas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRotasPorUsuario">
      <soap:operation soapAction="http://tempuri.org/ListarRotasPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirComentarioEvento">
      <soap:operation soapAction="http://tempuri.org/InserirComentarioEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarComentarioEvento">
      <soap:operation soapAction="http://tempuri.org/AlterarComentarioEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverComentarioEvento">
      <soap:operation soapAction="http://tempuri.org/RemoverComentarioEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterComentarioEventoPorId">
      <soap:operation soapAction="http://tempuri.org/ObterComentarioEventoPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarComentariosPorEvento">
      <soap:operation soapAction="http://tempuri.org/ListarComentariosPorEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarComentariosPorUsuario">
      <soap:operation soapAction="http://tempuri.org/ListarComentariosPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTiposRota">
      <soap:operation soapAction="http://tempuri.org/ListarTiposRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTiposPista">
      <soap:operation soapAction="http://tempuri.org/ListarTiposPista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDificuldades">
      <soap:operation soapAction="http://tempuri.org/ListarDificuldades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarQualidadesRota">
      <soap:operation soapAction="http://tempuri.org/ListarQualidadesRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirEvento">
      <soap:operation soapAction="http://tempuri.org/InserirEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEventos">
      <soap:operation soapAction="http://tempuri.org/ListarEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEventosPorUsuario">
      <soap:operation soapAction="http://tempuri.org/ListarEventosPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarEvento">
      <soap:operation soapAction="http://tempuri.org/AlterarEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverEvento">
      <soap:operation soapAction="http://tempuri.org/RemoverEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterEventoPorId">
      <soap:operation soapAction="http://tempuri.org/ObterEventoPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEventosComDistancia">
      <soap:operation soapAction="http://tempuri.org/ListarEventosComDistancia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirListaCoordenadas">
      <soap:operation soapAction="http://tempuri.org/InserirListaCoordenadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCoordenadasPorRota">
      <soap:operation soapAction="http://tempuri.org/ListarCoordenadasPorRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarConvitesEventos">
      <soap:operation soapAction="http://tempuri.org/ListarConvitesEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterConvitesEventosDoUsuario">
      <soap:operation soapAction="http://tempuri.org/ObterConvitesEventosDoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResponderConviteEvento">
      <soap:operation soapAction="http://tempuri.org/ResponderConviteEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvidarUsuarios">
      <soap:operation soapAction="http://tempuri.org/ConvidarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRespostas">
      <soap:operation soapAction="http://tempuri.org/ListarRespostas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarContatosDoUsuario">
      <soap:operation soapAction="http://tempuri.org/ListarContatosDoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarContatos">
      <soap:operation soapAction="http://tempuri.org/ListarContatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirContato">
      <soap:operation soapAction="http://tempuri.org/InserirContato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarContato">
      <soap:operation soapAction="http://tempuri.org/AlterarContato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirContato">
      <soap:operation soapAction="http://tempuri.org/ExcluirContato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarConvitesDoUsuario">
      <soap:operation soapAction="http://tempuri.org/ListarConvitesDoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainServiceSoap12" type="tns:MainServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirBicicleta">
      <soap12:operation soapAction="http://tempuri.org/InserirBicicleta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarBicicleta">
      <soap12:operation soapAction="http://tempuri.org/AlterarBicicleta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverBicicleta">
      <soap12:operation soapAction="http://tempuri.org/RemoverBicicleta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterBicicletaPorId">
      <soap12:operation soapAction="http://tempuri.org/ObterBicicletaPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarBicicletasPorUsuario">
      <soap12:operation soapAction="http://tempuri.org/ListarBicicletasPorUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarLogonUsuario">
      <soap12:operation soapAction="http://tempuri.org/ValidarLogonUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirUsuario">
      <soap12:operation soapAction="http://tempuri.org/InserirUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap12:operation soapAction="http://tempuri.org/AlterarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirFotoUsuario">
      <soap12:operation soapAction="http://tempuri.org/InserirFotoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterUsuariosIds">
      <soap12:operation soapAction="http://tempuri.org/ObterUsuariosIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <soap12:operation soapAction="http://tempuri.org/ListarUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuariosPorNome">
      <soap12:operation soapAction="http://tempuri.org/ListarUsuariosPorNome" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirRota">
      <soap12:operation soapAction="http://tempuri.org/InserirRota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarRota">
      <soap12:operation soapAction="http://tempuri.org/AlterarRota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverRota">
      <soap12:operation soapAction="http://tempuri.org/RemoverRota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterRotaPorId">
      <soap12:operation soapAction="http://tempuri.org/ObterRotaPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRotas">
      <soap12:operation soapAction="http://tempuri.org/ListarRotas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRotasPorUsuario">
      <soap12:operation soapAction="http://tempuri.org/ListarRotasPorUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirComentarioEvento">
      <soap12:operation soapAction="http://tempuri.org/InserirComentarioEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarComentarioEvento">
      <soap12:operation soapAction="http://tempuri.org/AlterarComentarioEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverComentarioEvento">
      <soap12:operation soapAction="http://tempuri.org/RemoverComentarioEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterComentarioEventoPorId">
      <soap12:operation soapAction="http://tempuri.org/ObterComentarioEventoPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarComentariosPorEvento">
      <soap12:operation soapAction="http://tempuri.org/ListarComentariosPorEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarComentariosPorUsuario">
      <soap12:operation soapAction="http://tempuri.org/ListarComentariosPorUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTiposRota">
      <soap12:operation soapAction="http://tempuri.org/ListarTiposRota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTiposPista">
      <soap12:operation soapAction="http://tempuri.org/ListarTiposPista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDificuldades">
      <soap12:operation soapAction="http://tempuri.org/ListarDificuldades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarQualidadesRota">
      <soap12:operation soapAction="http://tempuri.org/ListarQualidadesRota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirEvento">
      <soap12:operation soapAction="http://tempuri.org/InserirEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEventos">
      <soap12:operation soapAction="http://tempuri.org/ListarEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEventosPorUsuario">
      <soap12:operation soapAction="http://tempuri.org/ListarEventosPorUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarEvento">
      <soap12:operation soapAction="http://tempuri.org/AlterarEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverEvento">
      <soap12:operation soapAction="http://tempuri.org/RemoverEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterEventoPorId">
      <soap12:operation soapAction="http://tempuri.org/ObterEventoPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEventosComDistancia">
      <soap12:operation soapAction="http://tempuri.org/ListarEventosComDistancia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirListaCoordenadas">
      <soap12:operation soapAction="http://tempuri.org/InserirListaCoordenadas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCoordenadasPorRota">
      <soap12:operation soapAction="http://tempuri.org/ListarCoordenadasPorRota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarConvitesEventos">
      <soap12:operation soapAction="http://tempuri.org/ListarConvitesEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterConvitesEventosDoUsuario">
      <soap12:operation soapAction="http://tempuri.org/ObterConvitesEventosDoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResponderConviteEvento">
      <soap12:operation soapAction="http://tempuri.org/ResponderConviteEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvidarUsuarios">
      <soap12:operation soapAction="http://tempuri.org/ConvidarUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRespostas">
      <soap12:operation soapAction="http://tempuri.org/ListarRespostas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarContatosDoUsuario">
      <soap12:operation soapAction="http://tempuri.org/ListarContatosDoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarContatos">
      <soap12:operation soapAction="http://tempuri.org/ListarContatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirContato">
      <soap12:operation soapAction="http://tempuri.org/InserirContato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarContato">
      <soap12:operation soapAction="http://tempuri.org/AlterarContato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirContato">
      <soap12:operation soapAction="http://tempuri.org/ExcluirContato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarConvitesDoUsuario">
      <soap12:operation soapAction="http://tempuri.org/ListarConvitesDoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="MainServiceSoap" binding="tns:MainServiceSoap">
      <soap:address location="http://127.0.0.1/Fusioness.Services/MainService.asmx" />
    </wsdl:port>
    <wsdl:port name="MainServiceSoap12" binding="tns:MainServiceSoap12">
      <soap12:address location="http://127.0.0.1/Fusioness.Services/MainService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>