Trunk/Src/Fusiones.Main/Fusioness/Web References/FusionessWS/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirBicicleta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bicicleta" type="tns:Bicicleta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Bicicleta">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdBicicleta" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Modelo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Marca" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityBase" />
      <s:complexType name="Resposta">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdResposta" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ConviteEventos" type="tns:ArrayOfConviteEvento" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfConviteEvento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConviteEvento" nillable="true" type="tns:ConviteEvento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConviteEvento">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdContato" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdEvento" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdResposta" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Contato" type="tns:Contato" />
              <s:element minOccurs="0" maxOccurs="1" name="Evento" type="tns:Evento" />
              <s:element minOccurs="0" maxOccurs="1" name="Resposta" type="tns:Resposta" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Contato">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdContato" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
              <s:element minOccurs="0" maxOccurs="1" name="Usuario1" type="tns:Usuario" />
              <s:element minOccurs="0" maxOccurs="1" name="ConviteEventos" type="tns:ArrayOfConviteEvento" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Idade" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UrlImagem" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Bicicletas" type="tns:ArrayOfBicicleta" />
              <s:element minOccurs="0" maxOccurs="1" name="Contatos" type="tns:ArrayOfContato" />
              <s:element minOccurs="0" maxOccurs="1" name="Contatos1" type="tns:ArrayOfContato" />
              <s:element minOccurs="0" maxOccurs="1" name="Eventos" type="tns:ArrayOfEvento" />
              <s:element minOccurs="0" maxOccurs="1" name="EventoUsuarios" type="tns:ArrayOfEventoUsuario" />
              <s:element minOccurs="0" maxOccurs="1" name="Rotas" type="tns:ArrayOfRota" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfBicicleta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Bicicleta" nillable="true" type="tns:Bicicleta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contato" nillable="true" type="tns:Contato" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEvento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Evento" nillable="true" type="tns:Evento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Evento">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdEvento" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdRota" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="UrlImagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Publico" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="ConviteEventos" type="tns:ArrayOfConviteEvento" />
              <s:element minOccurs="0" maxOccurs="1" name="Rota" type="tns:Rota" />
              <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
              <s:element minOccurs="0" maxOccurs="1" name="EventoUsuarios" type="tns:ArrayOfEventoUsuario" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Rota">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdRota" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoPista" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoRota" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdDificuldade" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdQualidadeRota" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Coordenadas" type="tns:ArrayOfCoordenada" />
              <s:element minOccurs="0" maxOccurs="1" name="Dificuldade" type="tns:Dificuldade" />
              <s:element minOccurs="0" maxOccurs="1" name="Eventos" type="tns:ArrayOfEvento" />
              <s:element minOccurs="0" maxOccurs="1" name="QualidadeRota" type="tns:QualidadeRota" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoPista" type="tns:TipoPista" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoRota" type="tns:TipoRota" />
              <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfCoordenada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Coordenada" nillable="true" type="tns:Coordenada" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Coordenada">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdCoordenada" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdRota" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoCoordenada" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Data" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Rota" type="tns:Rota" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoCoordenada" type="tns:TipoCoordenada" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TipoCoordenada">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoCoordenada" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Coordenadas" type="tns:ArrayOfCoordenada" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Dificuldade">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdDificuldade" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rotas" type="tns:ArrayOfRota" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfRota">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Rota" nillable="true" type="tns:Rota" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QualidadeRota">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdQualidadeRota" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rotas" type="tns:ArrayOfRota" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TipoPista">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoPista" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rotas" type="tns:ArrayOfRota" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TipoRota">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoRota" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rotas" type="tns:ArrayOfRota" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfEventoUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EventoUsuario" nillable="true" type="tns:EventoUsuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EventoUsuario">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdEvento" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IdStatusEvento" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="StatusDescricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Evento" type="tns:Evento" />
              <s:element minOccurs="0" maxOccurs="1" name="StatusEvento" type="tns:StatusEvento" />
              <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StatusEvento">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdStatusEvento" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EventoUsuarios" type="tns:ArrayOfEventoUsuario" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="InserirBicicletaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirBicicletaResult" type="tns:Bicicleta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarLogonUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarLogonUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidarLogonUsuarioResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirUsuarioResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarUsuarioResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarContatosPorUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarContatosPorUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarContatosPorUsuarioResult" type="tns:ArrayOfUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:element name="InserirFotoUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirFotoUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirFotoUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirRota">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rota" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirRotaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserirRotaResult" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarRota">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rota" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarRotaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarRotaResult" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverRota">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rota" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverRotaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ObterRotaPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rota" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterRotaPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterRotaPorIdResult" type="tns:Rota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarRotas">
        <s:complexType />
      </s:element>
      <s:element name="ListarRotasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarRotasResult" type="tns:ArrayOfRota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarRotasPorUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarRotasPorUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarRotasPorUsuarioResult" type="tns:ArrayOfRota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarTiposRota">
        <s:complexType />
      </s:element>
      <s:element name="ListarTiposRotaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarTiposRotaResult" type="tns:ArrayOfTipoRota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoRota">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoRota" nillable="true" type="tns:TipoRota" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarTiposPista">
        <s:complexType />
      </s:element>
      <s:element name="ListarTiposPistaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarTiposPistaResult" type="tns:ArrayOfTipoPista" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoPista">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoPista" nillable="true" type="tns:TipoPista" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarDificuldades">
        <s:complexType />
      </s:element>
      <s:element name="ListarDificuldadesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarDificuldadesResult" type="tns:ArrayOfDificuldade" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDificuldade">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Dificuldade" nillable="true" type="tns:Dificuldade" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarQualidadesRota">
        <s:complexType />
      </s:element>
      <s:element name="ListarQualidadesRotaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarQualidadesRotaResult" type="tns:ArrayOfQualidadeRota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfQualidadeRota">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QualidadeRota" nillable="true" type="tns:QualidadeRota" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarEventos">
        <s:complexType />
      </s:element>
      <s:element name="ListarEventosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarEventosResult" type="tns:ArrayOfEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterEventoPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="evento" type="tns:Evento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterEventoPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterEventoPorIdResult" type="tns:Evento" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="InserirBicicletaSoapIn">
    <wsdl:part name="parameters" element="tns:InserirBicicleta" />
  </wsdl:message>
  <wsdl:message name="InserirBicicletaSoapOut">
    <wsdl:part name="parameters" element="tns:InserirBicicletaResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarLogonUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarLogonUsuario" />
  </wsdl:message>
  <wsdl:message name="ValidarLogonUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarLogonUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="InserirUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:InserirUsuario" />
  </wsdl:message>
  <wsdl:message name="InserirUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:InserirUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarUsuario" />
  </wsdl:message>
  <wsdl:message name="AlterarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ListarContatosPorUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ListarContatosPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ListarContatosPorUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ListarContatosPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="InserirFotoUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:InserirFotoUsuario" />
  </wsdl:message>
  <wsdl:message name="InserirFotoUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:InserirFotoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="InserirRotaSoapIn">
    <wsdl:part name="parameters" element="tns:InserirRota" />
  </wsdl:message>
  <wsdl:message name="InserirRotaSoapOut">
    <wsdl:part name="parameters" element="tns:InserirRotaResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarRotaSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarRota" />
  </wsdl:message>
  <wsdl:message name="AlterarRotaSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarRotaResponse" />
  </wsdl:message>
  <wsdl:message name="RemoverRotaSoapIn">
    <wsdl:part name="parameters" element="tns:RemoverRota" />
  </wsdl:message>
  <wsdl:message name="RemoverRotaSoapOut">
    <wsdl:part name="parameters" element="tns:RemoverRotaResponse" />
  </wsdl:message>
  <wsdl:message name="ObterRotaPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:ObterRotaPorId" />
  </wsdl:message>
  <wsdl:message name="ObterRotaPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:ObterRotaPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="ListarRotasSoapIn">
    <wsdl:part name="parameters" element="tns:ListarRotas" />
  </wsdl:message>
  <wsdl:message name="ListarRotasSoapOut">
    <wsdl:part name="parameters" element="tns:ListarRotasResponse" />
  </wsdl:message>
  <wsdl:message name="ListarRotasPorUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ListarRotasPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ListarRotasPorUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ListarRotasPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ListarTiposRotaSoapIn">
    <wsdl:part name="parameters" element="tns:ListarTiposRota" />
  </wsdl:message>
  <wsdl:message name="ListarTiposRotaSoapOut">
    <wsdl:part name="parameters" element="tns:ListarTiposRotaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarTiposPistaSoapIn">
    <wsdl:part name="parameters" element="tns:ListarTiposPista" />
  </wsdl:message>
  <wsdl:message name="ListarTiposPistaSoapOut">
    <wsdl:part name="parameters" element="tns:ListarTiposPistaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarDificuldadesSoapIn">
    <wsdl:part name="parameters" element="tns:ListarDificuldades" />
  </wsdl:message>
  <wsdl:message name="ListarDificuldadesSoapOut">
    <wsdl:part name="parameters" element="tns:ListarDificuldadesResponse" />
  </wsdl:message>
  <wsdl:message name="ListarQualidadesRotaSoapIn">
    <wsdl:part name="parameters" element="tns:ListarQualidadesRota" />
  </wsdl:message>
  <wsdl:message name="ListarQualidadesRotaSoapOut">
    <wsdl:part name="parameters" element="tns:ListarQualidadesRotaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarEventosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarEventos" />
  </wsdl:message>
  <wsdl:message name="ListarEventosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarEventosResponse" />
  </wsdl:message>
  <wsdl:message name="ObterEventoPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:ObterEventoPorId" />
  </wsdl:message>
  <wsdl:message name="ObterEventoPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:ObterEventoPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="MainServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirBicicleta">
      <wsdl:input message="tns:InserirBicicletaSoapIn" />
      <wsdl:output message="tns:InserirBicicletaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarLogonUsuario">
      <wsdl:input message="tns:ValidarLogonUsuarioSoapIn" />
      <wsdl:output message="tns:ValidarLogonUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirUsuario">
      <wsdl:input message="tns:InserirUsuarioSoapIn" />
      <wsdl:output message="tns:InserirUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <wsdl:input message="tns:AlterarUsuarioSoapIn" />
      <wsdl:output message="tns:AlterarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarContatosPorUsuario">
      <wsdl:input message="tns:ListarContatosPorUsuarioSoapIn" />
      <wsdl:output message="tns:ListarContatosPorUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirFotoUsuario">
      <wsdl:input message="tns:InserirFotoUsuarioSoapIn" />
      <wsdl:output message="tns:InserirFotoUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirRota">
      <wsdl:input message="tns:InserirRotaSoapIn" />
      <wsdl:output message="tns:InserirRotaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarRota">
      <wsdl:input message="tns:AlterarRotaSoapIn" />
      <wsdl:output message="tns:AlterarRotaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoverRota">
      <wsdl:input message="tns:RemoverRotaSoapIn" />
      <wsdl:output message="tns:RemoverRotaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterRotaPorId">
      <wsdl:input message="tns:ObterRotaPorIdSoapIn" />
      <wsdl:output message="tns:ObterRotaPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarRotas">
      <wsdl:input message="tns:ListarRotasSoapIn" />
      <wsdl:output message="tns:ListarRotasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarRotasPorUsuario">
      <wsdl:input message="tns:ListarRotasPorUsuarioSoapIn" />
      <wsdl:output message="tns:ListarRotasPorUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarTiposRota">
      <wsdl:input message="tns:ListarTiposRotaSoapIn" />
      <wsdl:output message="tns:ListarTiposRotaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarTiposPista">
      <wsdl:input message="tns:ListarTiposPistaSoapIn" />
      <wsdl:output message="tns:ListarTiposPistaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarDificuldades">
      <wsdl:input message="tns:ListarDificuldadesSoapIn" />
      <wsdl:output message="tns:ListarDificuldadesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarQualidadesRota">
      <wsdl:input message="tns:ListarQualidadesRotaSoapIn" />
      <wsdl:output message="tns:ListarQualidadesRotaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarEventos">
      <wsdl:input message="tns:ListarEventosSoapIn" />
      <wsdl:output message="tns:ListarEventosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterEventoPorId">
      <wsdl:input message="tns:ObterEventoPorIdSoapIn" />
      <wsdl:output message="tns:ObterEventoPorIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainServiceSoap" type="tns:MainServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirBicicleta">
      <soap:operation soapAction="http://tempuri.org/InserirBicicleta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarLogonUsuario">
      <soap:operation soapAction="http://tempuri.org/ValidarLogonUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirUsuario">
      <soap:operation soapAction="http://tempuri.org/InserirUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap:operation soapAction="http://tempuri.org/AlterarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarContatosPorUsuario">
      <soap:operation soapAction="http://tempuri.org/ListarContatosPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirFotoUsuario">
      <soap:operation soapAction="http://tempuri.org/InserirFotoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirRota">
      <soap:operation soapAction="http://tempuri.org/InserirRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarRota">
      <soap:operation soapAction="http://tempuri.org/AlterarRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverRota">
      <soap:operation soapAction="http://tempuri.org/RemoverRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterRotaPorId">
      <soap:operation soapAction="http://tempuri.org/ObterRotaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRotas">
      <soap:operation soapAction="http://tempuri.org/ListarRotas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRotasPorUsuario">
      <soap:operation soapAction="http://tempuri.org/ListarRotasPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTiposRota">
      <soap:operation soapAction="http://tempuri.org/ListarTiposRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTiposPista">
      <soap:operation soapAction="http://tempuri.org/ListarTiposPista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDificuldades">
      <soap:operation soapAction="http://tempuri.org/ListarDificuldades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarQualidadesRota">
      <soap:operation soapAction="http://tempuri.org/ListarQualidadesRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEventos">
      <soap:operation soapAction="http://tempuri.org/ListarEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterEventoPorId">
      <soap:operation soapAction="http://tempuri.org/ObterEventoPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainServiceSoap12" type="tns:MainServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirBicicleta">
      <soap12:operation soapAction="http://tempuri.org/InserirBicicleta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarLogonUsuario">
      <soap12:operation soapAction="http://tempuri.org/ValidarLogonUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirUsuario">
      <soap12:operation soapAction="http://tempuri.org/InserirUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap12:operation soapAction="http://tempuri.org/AlterarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarContatosPorUsuario">
      <soap12:operation soapAction="http://tempuri.org/ListarContatosPorUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirFotoUsuario">
      <soap12:operation soapAction="http://tempuri.org/InserirFotoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirRota">
      <soap12:operation soapAction="http://tempuri.org/InserirRota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarRota">
      <soap12:operation soapAction="http://tempuri.org/AlterarRota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverRota">
      <soap12:operation soapAction="http://tempuri.org/RemoverRota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterRotaPorId">
      <soap12:operation soapAction="http://tempuri.org/ObterRotaPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRotas">
      <soap12:operation soapAction="http://tempuri.org/ListarRotas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRotasPorUsuario">
      <soap12:operation soapAction="http://tempuri.org/ListarRotasPorUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTiposRota">
      <soap12:operation soapAction="http://tempuri.org/ListarTiposRota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTiposPista">
      <soap12:operation soapAction="http://tempuri.org/ListarTiposPista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDificuldades">
      <soap12:operation soapAction="http://tempuri.org/ListarDificuldades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarQualidadesRota">
      <soap12:operation soapAction="http://tempuri.org/ListarQualidadesRota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEventos">
      <soap12:operation soapAction="http://tempuri.org/ListarEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterEventoPorId">
      <soap12:operation soapAction="http://tempuri.org/ObterEventoPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="MainServiceSoap" binding="tns:MainServiceSoap">
      <soap:address location="http://localhost/Fusioness.Services/MainService.asmx" />
    </wsdl:port>
    <wsdl:port name="MainServiceSoap12" binding="tns:MainServiceSoap12">
      <soap12:address location="http://localhost/Fusioness.Services/MainService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>