Trunk/Src/Fusiones.Main/Fusioness/Web References/FusionessWS/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidarLogonUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioSerializado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarLogonUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidarLogonUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSomething">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomeDoUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSomethingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSomethingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBicicleta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bicicletaSerializado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBicicletaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertBicicletaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioSerializado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioSerializado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarregarContatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarregarContatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CarregarContatosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QualificarRota">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rotaSerializada" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QualificarRotaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QualificarRotaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRotas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRotasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRotasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarregarRotas">
        <s:complexType />
      </s:element>
      <s:element name="CarregarRotasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CarregarRotasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarregarTipoRotas">
        <s:complexType />
      </s:element>
      <s:element name="CarregarTipoRotasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CarregarTipoRotasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidarLogonUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarLogonUsuario" />
  </wsdl:message>
  <wsdl:message name="ValidarLogonUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarLogonUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="DoSomethingSoapIn">
    <wsdl:part name="parameters" element="tns:DoSomething" />
  </wsdl:message>
  <wsdl:message name="DoSomethingSoapOut">
    <wsdl:part name="parameters" element="tns:DoSomethingResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBicicletaSoapIn">
    <wsdl:part name="parameters" element="tns:InsertBicicleta" />
  </wsdl:message>
  <wsdl:message name="InsertBicicletaSoapOut">
    <wsdl:part name="parameters" element="tns:InsertBicicletaResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUsuario" />
  </wsdl:message>
  <wsdl:message name="InsertUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUsuario" />
  </wsdl:message>
  <wsdl:message name="UpdateUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CarregarContatosSoapIn">
    <wsdl:part name="parameters" element="tns:CarregarContatos" />
  </wsdl:message>
  <wsdl:message name="CarregarContatosSoapOut">
    <wsdl:part name="parameters" element="tns:CarregarContatosResponse" />
  </wsdl:message>
  <wsdl:message name="QualificarRotaSoapIn">
    <wsdl:part name="parameters" element="tns:QualificarRota" />
  </wsdl:message>
  <wsdl:message name="QualificarRotaSoapOut">
    <wsdl:part name="parameters" element="tns:QualificarRotaResponse" />
  </wsdl:message>
  <wsdl:message name="GetRotasSoapIn">
    <wsdl:part name="parameters" element="tns:GetRotas" />
  </wsdl:message>
  <wsdl:message name="GetRotasSoapOut">
    <wsdl:part name="parameters" element="tns:GetRotasResponse" />
  </wsdl:message>
  <wsdl:message name="CarregarRotasSoapIn">
    <wsdl:part name="parameters" element="tns:CarregarRotas" />
  </wsdl:message>
  <wsdl:message name="CarregarRotasSoapOut">
    <wsdl:part name="parameters" element="tns:CarregarRotasResponse" />
  </wsdl:message>
  <wsdl:message name="CarregarTipoRotasSoapIn">
    <wsdl:part name="parameters" element="tns:CarregarTipoRotas" />
  </wsdl:message>
  <wsdl:message name="CarregarTipoRotasSoapOut">
    <wsdl:part name="parameters" element="tns:CarregarTipoRotasResponse" />
  </wsdl:message>
  <wsdl:portType name="MainServiceSoap">
    <wsdl:operation name="ValidarLogonUsuario">
      <wsdl:input message="tns:ValidarLogonUsuarioSoapIn" />
      <wsdl:output message="tns:ValidarLogonUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSomething">
      <wsdl:input message="tns:DoSomethingSoapIn" />
      <wsdl:output message="tns:DoSomethingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBicicleta">
      <wsdl:input message="tns:InsertBicicletaSoapIn" />
      <wsdl:output message="tns:InsertBicicletaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUsuario">
      <wsdl:input message="tns:InsertUsuarioSoapIn" />
      <wsdl:output message="tns:InsertUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUsuario">
      <wsdl:input message="tns:UpdateUsuarioSoapIn" />
      <wsdl:output message="tns:UpdateUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CarregarContatos">
      <wsdl:input message="tns:CarregarContatosSoapIn" />
      <wsdl:output message="tns:CarregarContatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QualificarRota">
      <wsdl:input message="tns:QualificarRotaSoapIn" />
      <wsdl:output message="tns:QualificarRotaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRotas">
      <wsdl:input message="tns:GetRotasSoapIn" />
      <wsdl:output message="tns:GetRotasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CarregarRotas">
      <wsdl:input message="tns:CarregarRotasSoapIn" />
      <wsdl:output message="tns:CarregarRotasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CarregarTipoRotas">
      <wsdl:input message="tns:CarregarTipoRotasSoapIn" />
      <wsdl:output message="tns:CarregarTipoRotasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainServiceSoap" type="tns:MainServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarLogonUsuario">
      <soap:operation soapAction="http://tempuri.org/ValidarLogonUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSomething">
      <soap:operation soapAction="http://tempuri.org/DoSomething" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBicicleta">
      <soap:operation soapAction="http://tempuri.org/InsertBicicleta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUsuario">
      <soap:operation soapAction="http://tempuri.org/InsertUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsuario">
      <soap:operation soapAction="http://tempuri.org/UpdateUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarContatos">
      <soap:operation soapAction="http://tempuri.org/CarregarContatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QualificarRota">
      <soap:operation soapAction="http://tempuri.org/QualificarRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRotas">
      <soap:operation soapAction="http://tempuri.org/GetRotas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarRotas">
      <soap:operation soapAction="http://tempuri.org/CarregarRotas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarTipoRotas">
      <soap:operation soapAction="http://tempuri.org/CarregarTipoRotas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainServiceSoap12" type="tns:MainServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarLogonUsuario">
      <soap12:operation soapAction="http://tempuri.org/ValidarLogonUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSomething">
      <soap12:operation soapAction="http://tempuri.org/DoSomething" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBicicleta">
      <soap12:operation soapAction="http://tempuri.org/InsertBicicleta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUsuario">
      <soap12:operation soapAction="http://tempuri.org/InsertUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsuario">
      <soap12:operation soapAction="http://tempuri.org/UpdateUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarContatos">
      <soap12:operation soapAction="http://tempuri.org/CarregarContatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QualificarRota">
      <soap12:operation soapAction="http://tempuri.org/QualificarRota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRotas">
      <soap12:operation soapAction="http://tempuri.org/GetRotas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarRotas">
      <soap12:operation soapAction="http://tempuri.org/CarregarRotas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarTipoRotas">
      <soap12:operation soapAction="http://tempuri.org/CarregarTipoRotas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="MainServiceSoap" binding="tns:MainServiceSoap">
      <soap:address location="http://localhost/Fusioness.Services/MainService.asmx" />
    </wsdl:port>
    <wsdl:port name="MainServiceSoap12" binding="tns:MainServiceSoap12">
      <soap12:address location="http://localhost/Fusioness.Services/MainService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>